/*------ RESETEO DE MARGENES ---------*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

/*------  NAVBAR ---------*/
.navbar {
  box-shadow: 2px 2px 5px #000000;
  opacity: .9;
}

.navbar .nav{
	margin-right: 6rem;
}
.navbar .nav-link {
  margin-right: 1rem;
	font-size: 20px;
}

.navbar .nav-link:hover {
  color: #fff;
	background: #f10606;
	transition: .5s;
	
}

/*-----------------CABEZERA----------------*/

.acceso {
  background: #1D202B;
}

.imgAcceso {  
  border-radius: 3px;
}

.btnAcceso{
	background-color: #f10606;
}


.conten{
	box-shadow: 2px 2px 5px #000000
}

.imgInst{
	border-radius: 10px;
}

.piepag{
	background:#292828;
}

.tarjeta{
	background-color: rgb(182, 8, 8);
}

/* ------------------*/ 
.contenedor {	
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-rows: 0.2fr 1.6fr 1fr 0.15fr;
	gap: 60px;	
}

.contenedor-otro {
	max-width: 1400px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-rows: 0.2fr 0.1fr 1fr 0.15fr;
	gap: 20px;	
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-directo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.contenedor-directo-otro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}

.card a{
 text-decoration: none;
}
.botonCard{
	background: #b6df00;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 2px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.card .textos {
	height: 100%;	
}
