/*------ RESETEO DE MARGENES ---------*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

/*------  NAVBAR ---------*/
.navbar {
  box-shadow: 2px 2px 5px ##1D202B;
  opacity: .9;
}

.navbar .nav-item .nav-link {
  margin-right: 1rem;
	font-size: 20px;
}

.navbar .nav-item .nav-link:hover {
  color: #fff;
	background: #f10606;
	transition: .5s;
	
}

.nav{
	margin-right: 6rem;
}


/*-----------------CABEZERA----------------*/



.acceso, footer {
  background: #1D202B;
}

.imgAcceso {  
  background:rgb(247, 3, 3);
	color: rgb(255, 255, 255);
}




.contenedor {
	
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-rows: 0.2fr 1.6fr 1fr 0.15fr;
	gap: 60px;

	
}

.contenedor-otro {
	max-width: 1400px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-rows: 0.2fr 0.1fr 1fr 0.15fr;
	gap: 20px;

	
}

.cabezera {

	text-align: center;
	padding: 50px;
	background-size: cover;
	background-position: center center;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;

}

.cabezera a{
	text-decoration: none;
}

.cabezera .boton {
	background: #b6df00;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}
.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-directo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.contenedor-directo-otro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	
}

.card a{
 text-decoration: none;

}
.botonCard{
	background: #b6df00;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 2px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;

}

.card .textos {
	height: 100%;
	
}
.footer {
	background-color: red;
	text-align: center;
	padding: 10px;
	
	
}


@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: red;
  }
  #check:checked ~ ul{
      left:0;
  }
}